body{		
	font-family: 'Roboto', sans-serif;
}

* {			
	box-sizing: border-box;		
	
}

.container{ 	
	position: auto; 
	margin: auto;
	background-color: gray;
	width: 20%;
	padding: 16px;
}
	
input[type=text],input[type=password] {
	width: 100%;
	margin: 5px 0 22px 0; 	
	border: none;			
	background: #f1f1f1; 
	padding: 15px;
}

input[type=text]:focus,input[type=password]:focus {
	outline: none;
	background-color: #ddd;
	
}

.btn{
	border: none;
	background-color: #4CAf50;
	color: white;		
	width: 100%;
	padding: 16px 20px;		
	cursor: pointer; 	
	opacity: 0.8;		
}
.btn:hover {
	opacity: 1; 	
}